@import url('containers.css');
@import url('porfolio-quotes.css');
@import url('portfolio-news.css');

/* html {
  background: linear-gradient(#4B4453, #7C7484);
  
} */

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;

  background: #202235;

  color: #fff;
}






